.btn {
  padding-top: 1rem;
  text-transform: uppercase;

  &-light {
    color: var(--wp--preset--color--primary) !important;
  }

  &-blue {
    color: var(--wp--preset--color--light) !important;
  }
}
