@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import './../config/variables';
@import 'bootstrap/scss/variables';

.wp-block-social-media {
  .main & {
    svg {
      width: 4rem;
      height: 4rem;
    }

    .social-media {
      gap: 3rem;
    }

    @include media-breakpoint-down(lg) {
      svg {
        width: 3rem;
        height: 3rem;
      }

      .social-media {
        gap: 2rem;
      }
    }

    @include media-breakpoint-down(sm) {
      svg {
        width: 2rem;
        height: 2rem;
      }

      .social-media {
        gap: 1.5rem;
      }
    }
  }
}
