#cc-main {
  z-index: 1000 !important;

  --cc-bg: #{$light};
  --cc-text: #{$dark};
  --cc-font-family: #{$font-family-sans-serif};
  --cc-btn-primary-bg: #{$primary};
  --cc-btn-primary-text: #{$white};
  --cc-btn-primary-hover-bg: #{$primary};
  --cc-block-text: #{$dark};
  --cc-btn-secondary-bg: #{$light};
  --cc-btn-secondary-hover-bg: #{$light};
  --cc-btn-secondary-text: #{$primary};
  --cc-cookie-category-block-bg: #{$white};
  --cc-btn-border-radius: #{$btn-border-radius};
  --cc-toggle-on-bg: #{$green};

  .pm__btn,
  .cm__btn {
    font-weight: 400;
  }
}
