.banner {
  position: fixed;
  z-index: 400;
  top: 0;
  right: 0;
  left: 0;

  a {
    color: $black;
    text-decoration: none;
  }

  .admin-bar & {
    top: 32px;

    @media (width <= 782px) {
      top: calc(46px);
    }
  }

  .brand svg {
    transition: all 0.3s ease;
  }

  .navigation-primary {
    height: var(--banner-height);
    transition: all 0.3s ease;
  }

  &--not-top {
    .navigation-primary {
      height: 75px;
    }

    .brand svg {
      height: 2em;
    }
  }
}
