/**
* Editor
*/

/* Bootstrap */
@import "bootstrap/scss/functions";
@import 'config/variables';
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/utilities";

@import "bootstrap/scss/root";

.editor-styles-wrapper > * {
  @import "bootstrap/scss/reboot";

  @import 'config/bootstrap/components';
  @import 'config/bootstrap/helpers';
  @import 'config/bootstrap/containers';
  @import "bootstrap/scss/utilities/api";

  @import 'common/mixins';
  @import 'common/global';

  @import 'components';

  @import 'blocks';

  font-family: $font-family-sans-serif;

  .block-editor-writing-flow > .block-editor-block-list__layout > .block-editor-block-list__block {
    margin-top: 0;
    margin-bottom: 0;
  }

  .acf-block-preview a:not(.acf-button, .button) {
    pointer-events: none;
  }

  .wp-block-latest-posts {
    padding-left: 0;
  }

  .wp-block-separator {
    width: auto;
  }

  .wp-block-cards .card {
    padding: 0;
    margin-top: 0;
  }
}
