* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --banner-height: 137px;

  @include media-breakpoint-down(lg) {
    --banner-height: 120px;
  }
}

body {
  padding-top: var(--banner-height);
}

h1,
h2 {
  font-size: 3.4rem;
  line-height: 1.1;

  @include media-breakpoint-down(md) {
    font-size: 2.4rem;
  }
}

h2 {
  margin-bottom: 2rem;
  color: var(--wp--preset--color--primary);
  font-weight: 400;
  @include media-breakpoint-down(md) {
    margin-bottom: 1.2rem;
  }
}

h3 {
  color: var(--wp--preset--color--primary);
}

img {
  max-width: 100%;
  height: auto;
}

figure img {
  width: 100%;
}

main {
  @include contains-block-elements;
}

p + .wp-block-buttons {
  margin-top: 2rem;
}

.is-style-lead {
  font-size: $font-size-lg;
  font-weight: 600;
}

.spacing-outer,
.is-layout-constrained {
  padding-right: var(--wp--custom--spacing--outer) !important;
  padding-left: var(--wp--custom--spacing--outer) !important;
}

.spacing-outer .alignfull,
.spacing-outer > .wp-block-group.has-background,
.spacing-outer > .wp-block-cover,
.spacing-outer > .wp-block-template-part > .wp-block-group.has-background,
.spacing-outer > .wp-block-template-part > .wp-block-cover,
body > .is-root-container > .wp-block-cover,
body > .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
body > .is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container .wp-block[data-align="full"] {
  width: unset;
  margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
  margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
}

:where(.wp-block-columns.is-layout-flex) {
  gap: $grid-gutter-width;
}

.align-text-center {
  text-align: center;
}

.align-text-right {
  text-align: right;
}

@include media-breakpoint-down(md) {
  .wp-block-spacer {
    max-height: 50px;
  }
}
